<!--
###################################
# This web.config file uses rewriting
# to modify the urls and send them
# to the appropriate server file 
# for url mapping.
####################################
-->
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
        <!-- # everything below the site root will be written to server.php?url={the_url} -->
        <rule name="rule 1R" stopProcessing="true">
            <match url="^(.*)/?$"  />
            <action type="Rewrite" url="/server.php?url=/{R:1}"  appendQueryString="true" />
        </rule>
    </system.web>
</configuration>